<!DOCTYPE html>
<html lang="en">

<head>
  <title>GitStar</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="./jquery-3.2.1.js"></script>
  <link rel="stylesheet" href="../2style.css">
  <link
      href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap"
      rel="stylesheet"
    />
</head>


<body bgcolor="#34495e">

  <div style="display: flex; justify-content: space-around; font-family: 'Bungee Shade', cursive;">
    <h1>Gitstar</h1>
  </div>
  <br />
  <br />


  <div class="flex-container">
    <div class="card">
      <img src="{{ metadata.avatar }}" height="200" class="center" />
      <p style="text-align: center"><b><span>{{ user.name }}</span></b></p>
    </div>
    <div style="text-align: center" id="aka">
      <h2>a.k.a</h2>
    </div>
    <div class="card">
      <img src="{{  metadata.artist.id  }}.jpg " height="200" class="center" />
      <p style="text-align: center"><b><span>{{ metadata.artist.character }}</span></b></p>
    </div>
  </div>

  <br>
  <br>

  <div style="text-align: center; font-family: 'Anton', sans-serif">
    <h2>{{ metadata.artist.desc }}</h2>
  </div>

  <br>
  <br>


  <div class="flex-container">
    <div>
      <div>
        <h3>TOTAL STARS</h3>
      </div>
      <div class="meta-value numscroller" data-max="{{ metadata.stargazers_count }}" data-min="0" data-delay="1"
        data-increment="{{ metadata.increment}}">
        {{ metadata.stargazers_count }}
      </div>
    </div>


    <div>
      <div>
        <h3>TOTAL FOLLOWERS</h3>
      </div>
      <div data-max="{{ user.followers }}" data-min="0" data-delay="1"
        data-increment="{{ metadata.follow }}">
        {{ user.followers }}
      </div>
    </div>

    <div>

      <div>
        <h3>TOTAL REPOS (PUBLIC)</h3>
      </div>

      <div data-max="{{ user.public_repos }}" data-increment="{{ metadata.repos  }}">
        {{ user.public_repos }}

      </div>
    </div>
    <div>
      <div>
        <h3>FAVORITE LANGUAGE</h3>
      </div>
      <div>{{ metadata.mainlanguage }}</div>
    </div>
  </div>
</body>
</html>